*{
    color: white;
    font-size: 12px;
}

a{
    color: white
}

h1{
    font-size: 50px;
}

.details p{
    font-size: 20px;
}

.details{
    background-color: rgba(18, 31, 208, 0.335);
    padding: 20px;
}

.hr-thick{
  border-top: 0.5px solid white;
  opacity: 1;
  margin-top: 10px;
}

.image{
    width: 300px;
    border-radius: 50px 0;
}

.galaxy_button{
    width: 150px;
}

.view_more_button {
    width: 150px;
}